/********MAIN BODY LAYOUT********/
body, html, main {
	/* important */
	height: 100%;
	margin: 0;
}

/********PICTURED DIVS********/

.fixed {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	min-width:900px;
	margin: 0;
}

.fixed.bg-1 {
	background-image: url("../images/poly.jpg");
	height: 100%;
}
.fixed.demo { /*demo class named the same as demo id */
	background-image: url("../images/a.jpg");
	min-height: 565px; /*CHANGE THIS FOR NEXUS PLACEMENT*/
}
.fixed.bg-3 {
	background-image: url("../images/c.jpg");
	min-height: 565px;
}
.fixed.bg-4 {
	background-image: url("../images/grass.jpg");
	min-height: 30%;
}

/********SOLID DIVS********/

.scrolling {
	min-height: 50%;
	min-width:900px;
	padding: 0;
	margin: 0;
}

.scrolling.description {
	background-color: #F0F0F0;
}

.scrolling.downloads {
	background-color: #F0F0F0;
	text-align: center;
	min-width: 900px;
	/*min-height: 415px;*/
}

.scrolling.color-4 {
	background-color: #F0F0F0;
}

.cd-container {
	/*border: 1px solid;*/
	/*border-color: #FF00FF;*/
	margin: 0px;
	margin-bottom: -10px; /*******HACKY CRAP I DON'T LIKE********/
	/* When removing the borders,
	the weird whitespace margin
	came back so I had to add the 
	-10px margin-bottom fix..... */
}


/********ANCHORS********/
a.anchor{
	display: block;
	position: relative;
	top: -58px;
	/*visibility: hidden;*/
}


/********TESTING********/

/*#poop {
	height: 50px;
	background-color: #00FF00;
	width: 50px;
	font-family: 'Raleway'
	sans-serif;
	font-size: 26px;
	color:#98a2c3;
}*/


/********END-TESTING********/

#top-third {
	height: 10%;
	/*border: 1px solid;
	border-color: #FF00FF;*/
}

/********WELCOME********/

#middle-third {
	height: 75%;
	/*border: 1px solid;
	border-color: #FF00FF;*/
}

/********SCROLL INDICATOR********/

#bottom-third {
	height: 15%;
	/*border: 1px solid;
	border-color: #00FF00;*/
	background: url("../images/arrow.png") no-repeat center;
	display: block;
}

/********NEXUS DEMO FRAMES********/

#demo-left {
	width: 50%;
	height: 650px;
	/*border: 2px solid;*/
	/*border-radius: 25px;*/
	float: left;
}

#demo-right {
	width: 50%;
	height: 650px;
	background: url("../images/n5skin.png") no-repeat center;
	float: right;
}

#demo {
	height: 470px;
	width: 266px;
/*	border: 1px solid;
	border-color: #0000FF;*/
	margin-top: 76px;
	margin: 76 auto;
	background: url("../images/lollipop.gif") no-repeat center;
	background-size: cover;
}

/***********************/

/********DOWNLOADS********/

.download {
	width: 220px;
	height: 220px;
	display: block;
	margin-left: 20px;
	border-radius: 70px;
	/*opacity: 0.65;*/
	-webkit-box-shadow: 0px 18px 14px -6px rgba(50, 50, 50, 0.28);
	-moz-box-shadow:    0px 18px 14px -6px rgba(50, 50, 50, 0.28);
	box-shadow:         0px 18px 14px -6px rgba(50, 50, 50, 0.28);
	display:inline-block;
}

.download.apk{
	background: url("../images/icons/apk128.png") no-repeat center;
	background-color: rgba(0,0,255,0.50);
	
}

.download.zip {
	background: url("../images/icons/zip128.png") no-repeat center;
	background-color: rgba(0,0,255,0.25);
}

.download.tar {
	background: url("../images/icons/tar128.png") no-repeat center;
	background-color: rgba(0,0,255,0.25);
}

/********TEAM********/

.team {
	width: 25%;
	height: 0;
	position: relative;
	display: block;
	/*border: 1px solid;*/
	margin-top: 0px;
	padding-bottom: 25%; /*** MUST KEEP! ***/
	/*display:inline-block;*/
}

.team.j {
	float: left;
	background: url("../images/photo.png") no-repeat center;
	background-size: cover;
}

.team.j:hover {
	background: url("../images/photo.png") no-repeat center;
	opacity: 0.35;
	background-size: cover;
}

.team.d {
	float: left;
	background: url("../images/photo.png") no-repeat center;
	background-size: cover;
}

.team.d:hover {
	background: url("../images/photo.png") no-repeat center;
	opacity: 0.35;
	background-size: cover;
}

.team.e {
	float: left;
	background: url("../images/photo.png") no-repeat center;
	background-size: cover;
}

.team.e:hover {
	background: url("../images/photo.png") no-repeat center;
	opacity: 0.35;
	background-size: cover;
}

.team.r {
	float: left;
	background: url("../images/photo.png") no-repeat center;
	background-size: cover;
}

.team.r:hover {
	background: url("../images/photo.png") no-repeat center;
	opacity: 0.35;
	background-size: cover;
}
