/********MAIN BODY LAYOUT********/
body, html, main {
	/* important */
	height: 100%;
	margin: 0;
}

/********PICTURED DIVS********/

.fixed {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	min-width:900px;
	margin: 0;
}

.fixed.bg-1 {
	background-image: url("../images/bg/main.jpg");
	height: 100%;
}
.fixed.demo { /*demo class named the same as demo id */
	background-image: url("../images/bg/run1.jpg");
	min-height: 565px; /*CHANGE THIS FOR NEXUS PLACEMENT*/
	/*height: 100%-50px;*/
}
.fixed.bg-3 {
	background-image: url("../images/bg/mb2.jpg");
	min-height: 565px;
}
.fixed.bg-4 {
	background-image: url("../images/bg/test.jpg");
	min-height: 200px;
}

/********SOLID DIVS********/

.scrolling {
	min-height: 50%;
	min-width:900px;
	padding: 0;
	margin: 0;
}

.scrolling.description {
	background-color: #F0F0F0;
	clear: both;
}

.scrolling.documents {
	background-color: #F00;
	min-width: 900px;
}

.scrolling.color-4 {
	background-color: #F0F0F0;
	min-height: 225px;
	clear: both;
}

.scrolling.bottom {
	background-color: #272822;
	min-height: 225px;
}

.scrolling.grass {
	background: url("../images/grass.png") bottom;
	min-height: 11px;
}

.scrolling.footer {
	min-height: 51px;
	background-color: #26A137;
	font-family: 'Raleway'
	sans-serif;
	font-size: 12px;
	text-align: center;
	padding-top: 20px;
}

/********ANCHORS********/
a.anchor{
	display: block;
	position: relative;
	top: -57px;
}

/********TESTING********/

/*#poop {
	height: 50px;
	background-color: #00FF00;
	width: 50px;
	font-family: 'Raleway'
	sans-serif;
	font-size: 26px;
	color:#98a2c3;
}*/


/********END-TESTING********/

#top-third {
	height: 15%;
}

/********WELCOME********/

#middle-third {
	height: 70%;
}

#middle-third h1 {
	font-size: 60px;
	text-align: center;
	margin-top: 120px;
	margin-bottom: 20px;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

#middle-third p {
	font-size: 25px;
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

/********SCROLL INDICATOR********/

#bottom-third {
	height: 15%;
	background: url("../images/arrow.png") no-repeat center;
	display: block;
}

/********NEXUS DEMO FRAMES********/

#demo-left {
	width: 50%;
	height: 650px;
	padding-top: 130px;
	float: left;
}

#demo-right {
	width: 50%;
	height: 650px;
	background: url("../images/nexus/n5skin.png") no-repeat center;
	float: right;
}

#demo {
	height: 470px;
	width: 266px;
	margin-top: 76px;
	margin: 76 auto;
	background: url("../images/nexus/lollipop.gif") no-repeat center;
	background-size: cover;
}

/***********************/


/****DOWNLOADS***/

.download {
	width: 400px;
	height: 72px;
	display: block;
	margin: 30 auto;
	margin-right: 10%;
	border-radius: 15px;
	padding-top: 3px;
	padding-left: 100px;
	-webkit-box-shadow: 0px 18px 14px -6px rgba(50, 50, 50, 0.28);
	-moz-box-shadow:    0px 18px 14px -6px rgba(50, 50, 50, 0.28);
	-ms-box-shadow:     0px 18px 14px -6px rgba(50, 50, 50, 0.28);
	-o-box-shadow:      0px 18px 14px -6px rgba(50, 50, 50, 0.28);
	box-shadow:         0px 18px 14px -6px rgba(50, 50, 50, 0.28);
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-ms-transition: background-color .5s;
	-o-transition: background-color .5s;
	transition: background-color .5s;
}

.download h4 {
	color: #FFF;
	margin-bottom: 8px;
}

.download p {
	color: #FFF;
	margin-top: 5px;
}
.download hr {
	border: 0; border-top: 1px solid #FFF;
	margin: 0px;
	margin-right: 15px;
	font-size: 2px;
}

.download.apk:hover, .download.zip:hover, .download.tar:hover {
	background-color: rgba(0,0,0,0.80);
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-ms-transition: background-color .5s;
	-o-transition: background-color .5s;
	transition: background-color .5s;
}

.download.apk{
	background: url("../images/dl_icons/apk64.png") no-repeat 20px;
	background-color: rgba(0,0,0,0.50);
}

.download.zip {
	background: url("../images/dl_icons/zip64.png") no-repeat 20px;
	background-color: rgba(0,0,0,0.50);
}

.download.tar {
	background: url("../images/dl_icons/tar64.png") no-repeat 20px;
	background-color: rgba(0,0,0,0.50);
}

/********TEAM********/

.teamwrap {
	min-width: 900px;
	height: 225px;
}

.team {
	width: 25%;
	height: 0;
	position: relative;
	display: inline-block;
	margin-top: 0px;
	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-ms-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;
	padding: 40px 40px 25% 40px;
}

.team h3 {
	webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	-ms-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease;
	color: transparent;
	margin-top: 87%;
}

.team p {
	webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	-ms-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease;
	color: transparent;
}

.team hr {
	webkit-transition: border .5s ease;
	-moz-transition: border .5s ease;
	-ms-transition: border .5s ease;
	-o-transition: border .5s ease;
	transition: border .5s ease;
	border: 0; border-top: 1px solid transparent;
	margin: 10px 0 -10px;
}

.team.j:hover h3,
.team.j:hover p,
.team.r:hover h3,
.team.r:hover p,
.team.e:hover h3,
.team.e:hover p,
.team.d:hover h3,
.team.d:hover p {
	color: #000;
}

.team.j:hover hr,
.team.r:hover hr,
.team.e:hover hr,
.team.d:hover hr {
	border: 0; border-top: 1px solid #000;
}


.team.j {
	float: left;
	background: url("../images/team/jharris.jpg") no-repeat center;
	background-size: cover;
}

.team.j:hover {
	background: url("../images/team/jharris_faint.jpg") no-repeat center;
	background-size: cover;
}

.team.r {
	float: left;
	background: url("../images/team/rthomas.jpg") no-repeat center;
	background-size: cover;
}

.team.r:hover {
	background: url("../images/team/rthomas_faint.jpg") no-repeat center;
	background-size: cover;
}

.team.e {
	float: left;
	background: url("../images/team/emckenzie.jpg") no-repeat center;
	background-size: cover;
}

.team.e:hover {
	background: url("../images/team/emckenzie_faint.jpg") no-repeat center;
	background-size: cover;
}

.team.d {
	float: left;
	background: url("../images/team/dkidd.jpg") no-repeat center;
	background-size: cover;
}

.team.d:hover {
	background: url("../images/team/dkidd_faint.jpg") no-repeat center;
	background-size: cover;
}



/**************************/

/*************************/
